.container{
font-family: Arial, Helvetica, sans-serif;
max-width: 300px;
margin:auto;
background-color:#f99c4a;
padding: 20px;
border-radius: 10px;
}


input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

body{
    background-image: url(../Assets/Churrasco.jpg);
    background-repeat:no-repeat;
    background-size: cover;
 }
 

h1{
    margin-left: 10px;
    font-family: 'Rubik Moonrocks', cursive;
    
}